# Python cache
**/__pycache__
**/.ipython_checkpoints

# Mac 
**/.DS_Store

# virtual environmentt
venv*

# notebook file (.ipynb)
**/*.ipynb

# ssh password util
sshpass*

# privates data
private*
utils*
vvcjw*
