# Python cache
**/__pycache__
**/.ipython_checkpoints

# Mac 
**/.DS_Store

# virtual environment
venv*

# notebook file (.ipynb)
**/*.ipynb

# privates data
*private*
*utils*
*Utils*
*vvcjw*

# stackedit 
.stackedit-trash/

# ssh password util
sshpass*

